gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
GeneratedPluginRegistrant.java
/secret.json
**/google-services.json
/app/*.jks
/key.properties
/local.properties
/version.properties
/fastlane/metadata/**